body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D8E2C9;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

header{
    background-color: #F7F8EA;
    height: 47%;
    width: 50%;
    border-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 30px;

}

.navbar{ 
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 15%;
    align-items: center;
    position: relative;
}
.navbar::after {
    content: '';
    display: block;
    width: 100%; /* Užims visą .navbar plotį */
    height: 2px;
    background-color: #D8E2C9;
    position: absolute;
    bottom: 0; /* Linija bus apačioje */
    left: 0;
}

.navbar-items{
    display: flex;
    gap:20px;
}
.btn{
    color: black;
    text-decoration: none;
}
.btn:hover{
    text-decoration: underline;
    color: grey;
}
.icon{
    color: black;
    text-decoration: none;
}
.icon:hover{
    color: grey;
}

.lapu-eilute{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.reviews{
    color:#3A341A;
    font-size: 50px;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 8px;
}
.kairys{
    float: left;
}
.box-viduryje{
    width: 90%;
    height: 55%;
}
.vidurys-su-nuotrauka{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color:#EDE8D4;
    border-radius: 25px;
    align-content: center;
}
.turinys-desineje{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.zvaigzdutes{
    margin-left: 15px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.fa-star{
    color: #F9A125;
    text-decoration: none;
    gap: 10px;
    line-height: 1.2;
}

.atsiliepimas{
    line-height: 1.2em;
    margin-top: 0px;
    display: flex;
    width: 80%;
    margin-left: 15px;
}
.autorius{
    display: flex;
    margin-left: 10px;
    width: 30%;
    position: relative;
    padding-left: 10px;
}
.autorius::after {
    content: '';
    display: block;
    width: 2px;
    height:35px;
    background-color: #90A57C;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Centruojame vertikaliai */
}
.autoriaus-h4{
    margin-top: -5px;
    font-weight: none;
    margin-bottom: 10px;
    font-size: 13px;
}
.autoriaus-tekstas{
    margin-left: -63px;
    display: flex;
    color:gray;
    font-size: 10px;
}
.text{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    line-height: 1.5em;
}
.navigacijos-mygtukai>button{
    display: flex;
    float: right;
    border-radius: 30px;
    padding: 10px;
    border: none;
    margin: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.navigacijos-mygtukai>button.b{
    background-color: #F7F1E1;
    margin-right: 0px;
}
.navigacijos-mygtukai>button.a{
    background-color:#92A47C;
    color:#F7F1E1;

}

main{
    display: flex;
    border-bottom: 25px;
    background-color:#F6F1D1;
    height: 47%;
    width: 50%;
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius:30px ;

}
.konteineris{
    display: flex;
   justify-content: center;
    flex-direction:row;
    width: 100%;
    height: 100%;
    border-bottom: 25px;
}
.kairys-konteineris{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 47%;
    height: 100%;
    padding-left: 18px;
    padding-right: 30px;
    align-content: flex-start;

}
.apacia-h1{
    color:#3A341A;
    font-size: 45px;
    font-weight: normal;
}
.tekstas-apacioje{
    display: flex;
    margin-top: 0px;
    color: #7F7A5A;
    font-size: 8px;
    line-height: 1.5em;
    text-align:start;
    align-items: center;
}

.apacios-mygtukas{
    margin-top: 15px;
    background-color:#96A378;
    color: white;
    border: none;
    text-transform: uppercase;
}
.desinys-konteineris{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px 10px;
}
.kaires-apacia{
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 30px;
    position: absolute; z-index: 1;margin-top: 50px;margin-left:-56px;
}